/* external css file */
/* class selector */
.italic {
    font-style: italic;
}
/* id selector */
#author {
    font-weight: bold;
}
 /* internal  styling */   
ol {
    background-color: lightgray;
    font-style: italic;
}       